@model UserViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.FName @Model.LName Details</h1>

<div>

    <partial name="PartialViews/DeleteDetailsUserPartialView" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>




</div>

