@model EmployeeViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add New Employee</h1>
<br />
<form asp-action="Add" enctype="multipart/form-data">
    
    <partial name="PartialViews/AddEditEmployeePartialView" />
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection {

    <partial name="_ValidationScriptsPartial" />
   
}
