@model ForgetPsswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<h1>Login</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail">

			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
	
			<input type="submit" value="Resut Password">
		</form>
	
	
	</div>
</div>
@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}





